#card {
    max-width: 480px;
    max-height: 512px;

    padding: 21px;

    border: 1px solid #dcdcdc;
    border-radius: 8px;

    .card_img {
        width: 100%;

        img {
            width: 100%;
            border-radius: 8px;
        }
    }

    h2 {
        font-size: 24px;
        color: #000;
        line-height: 26px;
        font-weight: 700;
        margin: 10px 0;
    }

    p {
        font-weight: 500;
        font-size: 22px;
        line-height: 34px;
        color: #585858;
        margin: 10px 0;
    }
}